*{
    margin: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
  
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 5% auto auto;
    grid-template-areas:
      "header header header"
      "leftSide body rightSide"
      "footer footer footer";
    gap: 20px;
  }
  
  .header { 
    grid-area: header;
    background-color: gray;
}
  .leftSide {
    grid-area: leftSide;
    background-color: blueviolet;    
}
  .body {
    grid-area: body;
}
  .rightSide { 
    grid-area: rightSide;
    background-color: aqua;
}
  .footer {
    grid-area: footer;
    background-color: gray;
}

.header-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: Arial, Helvetica, sans-serif
}
.title{
    color: aliceblue;
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:aliceblue
}
.body-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    justify-content: center;
}
.card{
    height: 20rem;
    width: 15rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.img{
    background-image: url(assets/img/proyecto-e1551127430285-800x412.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
    width: 20rem;
}
.footer-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.footer-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.footer-content ul {
    padding: 2;
    list-style: none;
}

.icon-social {
    width: 32px;
    height: 32px;
    background-size: cover;
}

.icon-facebook {
    background-image: url("https://img.icons8.com/?size=100&id=118467&format=png&color=000000");
}

.icon-insta {
    background-image: url("https://img.icons8.com/?size=100&id=32292&format=png&color=ffffff");
    border-radius: 50%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.copy-right {
    width: 100%;
    margin-top: 20px;
    padding: 15px 90px;
    text-align: center;
    color: aliceblue;
}