body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
@media (width <= 1024px){
    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
}
@media (width <= 600px){
    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    img{
            position: absolute;
            top: 0;
            left: 0;
            max-height: 6rem;
            width: 5rem;
    }
    .container{
        flex-direction: column;
        max-width: 20rem;
    }
    div{
        flex-direction: column;
        align-items: center;
    }

}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: rgb(219, 219, 219);
    padding: 25px 0;
    margin-top: 3rem;
}
#home{
    text-decoration: none;
    color: white;
}
a:nth-child(2){
    text-decoration: none;
}
div{
    display: flex;
    justify-content: center;
}
section{
    text-align: left;
    color: gray;
    position: relative;
}
h1{
    color: gray;
    font-size: 2rem;
}
h2{
    font-size: 1rem;
    background-color: lightslategray;
    max-width: 15rem;
    color: initial;
}
section ul li{
    color: blue;
    font-family: Dancing Script;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    height: 9.7rem;
}

.flex-container{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}
.card{
    height: 20rem;
    width: 15rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.img{
    background-image: url(assets/img/proyecto-e1551127430285-800x412.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
    width: 20rem;
}
.footer-section {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-section ul {
    padding: 2;
    list-style: none;
}

.icon-social {
    width: 32px;
    height: 32px;
    background-size: cover;
}

.icon-facebook {
    background-image: url("https://img.icons8.com/?size=100&id=118467&format=png&color=000000");
}

.icon-insta {
    background-image: url("https://img.icons8.com/?size=100&id=32292&format=png&color=ffffff");
    border-radius: 50%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.copy-right {
    width: 100%;
    margin-top: 20px;
    padding: 15px 90px;
    border-top: 1px solid white;
}
.container{
    width: 40rem;
text-align: center;
}